.empty-state {
  box-sizing: content-box;
  width: 300px;
  border: 1px dashed var(--brand-transparent-10, rgba(40, 105, 228, 10%));
  border-radius: 8px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 5%), 0 2px 4px 0 rgba(40, 41, 61, 4%);
}
