.input-component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 4px;

  span.label {
    // font-size: 14px;
  }

  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .icon {
    position: absolute;
    right: 12px;
    display: block;
    width: 16px;
    height: 16px;
    mask-repeat: no-repeat;
    mask-position: center;

    &::before {
      width: 100%;
      height: 100%;
    }
  }

  &.with-icon {
    input {
      padding-right: 36px;
    }

    .icon {
      color: var(--secondary-500);
    }
  }

  &.icon-left {
    input {
      padding-left: 36px;
    }

    .icon.i-left {
      left: 11.5px;
    }
  }

  &.icon-right {
    .icon.i-right {
      right: 11.5px;
    }
  }
}
