.login-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .left, .right {
    flex-grow: 1;
  }

  .left {
    flex-basis: 50%;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    background-image: url('./images/login-background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .logo {
      height: 184px;
    }
  }

  .right {
    flex-basis: 50%;
  }

  .login-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    max-width: 464px;
    width: 100%;
    row-gap: 24px;

    .login-button {
      margin-top: 20px;
      width: 100%;
    }

    .loading-icon {
      animation: loading 2s linear infinite;
    }

    .gap-32 {
      row-gap: 32px;
    }
  }
}

@media screen and (width <= 444px) {
  .login-form {
    padding: 0 16px;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
