.disk-card {
  border: 1px solid rgba(var(--brand-500-rgb), 0.1);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(52, 52, 52, 4%), 0 0 24px rgba(52, 52, 52, 4%);
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  .divider {
    margin-right: 12px;
    padding-right: 12px;
    border-right: 1px solid rgba(var(--secondary-500-rgb), 0.1);
  }

  &:hover {
    background-color: rgba(var(--brand-500-rgb), 0.04);
    transition: all 0.2s ease-in-out;
  }

  &.selected {
    background-color: var(--brand-700);
    color: white;
    transition: all 0.4s ease-in-out;
  }
}
