/**
Input
*/

.mantine-Input-input {
  font-family: var(--font-family);

  @extend .form-control;

  &[data-invalid] {
    border: 1px solid var(--danger-200) !important;
  }
}

.mantine-PasswordInput-input {
  position: static;
  overflow: auto;
  border: none;
}

.mantine-PasswordInput-innerInput {
  font-family: var(--font-family);

  @extend .form-control;

  &[data-invalid] {
    border: 1px solid var(--danger-200) !important;
  }
}

.mantine-InputWrapper-label {
  color: var(--secondary-600);
  font-family: var(--font-family);
  font-weight: 700;

  @extend .caption-10;
}

.mantine-InputWrapper-error {

  @extend .caption-10;
}
/**
Select
*/

.mantine-Select-dropdown {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 15%);

  .mantine-Select-item {
    color: var(--secondary-500);

    &[data-hovered] {
      background-color: rgba(var(--primary-500-rgb), 0.1);
      color: var(--secondary-500)
    }

    &[data-selected] {
      background-color: var(--brand-500);
      color: white;
    }
  }
}
/**
Modal
*/

.mantine-Modal-title {
  color: var(--secondary-600);
  font-weight: 800;

  @extend .h3;
}

.mantine-Modal-content {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 8%), 0 20px 32px rgba(0, 0, 0, 32%);
}

.modal-footer {
  gap: 12px;
}
