.disk-card-list {
  display: grid;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(var(--secondary-500-rgb), 0.1);
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 12px;
  // grid-template-columns: minmax(0, 400px) repeat(3, 1fr);
  // grid-template-columns: min-content auto;
  // grid-auto-rows: 114px;
}
