:root {
  --drawer-sidebar-width-opened: 240px;
  --drawer-sidebar-width-closed: 84px;
  --drawer-sidebar-background-color: var(--brand-700);
  --drawer-sidebar-font-color: var(--light-500);
  --drawer-logo-url: url('~/public/images/logo.svg');
  --drawer-logo-height: 18px;
  --drawer-header-height: 64px;
}

.drawer {
  max-height: 100%;

  .drawer-sidebar {
    position: relative;
    min-width: var(--drawer-sidebar-width-closed);
    max-width: var(--drawer-sidebar-width-opened);
    border-right: 0.25rem solid var(--brand-200);
    background-color: var(--drawer-sidebar-background-color);
    color: var(--drawer-sidebar-font-color);
    transition: all 200ms ease-in-out;

    .drawer-logo {
      display: flex;
      align-items: center;
      height: var(--drawer-header-height);
      cursor: pointer;
      gap: 0.5rem;
      transition: all 200ms ease-in-out;

      .logo, .logo-text {
        height: 16px;
      }
    }

    .side-navigation {
      max-height: 100vh;
      opacity: 1;
      transition: all 400ms ease-in-out;

      &.top-level-nav-menu {
        flex: 1 1 auto;
        overflow-y: auto;
        height: 0;
      }

      &.hide {
        max-height: 0;
        opacity: 0;
      }
    }

    .opener {
      position: absolute;
      top: 0;
      right: -14px;
      margin-top: 20px;
      width: 24px;
      height: 24px;
      border: 3px solid var(--brand-200);
      border-radius: 50%;
      background-color: var(--light-500);
      color: var(--brand-700);
      transition: all 500ms ease-in-out;
    }

    &.opened {
      max-width: var(--drawer-sidebar-width-opened);
      width: var(--drawer-sidebar-width-opened);

      .drawer-logo {
        background-position: 32px center;
      }
    }

    &.closed {
      max-width: var(--drawer-sidebar-width-closed);
      width: var(--drawer-sidebar-width-closed);
      transition: all 400ms ease-in-out;

      .drawer-logo {
        justify-content: center;
        gap: 0;

        .logo-text {
          // animation: hide-span-item 250ms 10ms ease-in-out forwards;
          display: none;
        }
      }

      .opener {
        transform: rotate(180deg);
        transition: all 500ms ease-in-out;
      }
    }
  }
}

.ripple {
  animation: ripple 0.6s linear infinite;
  // border-radius: 100%;
}

.opened-menu-item {
  justify-content: flex-start;

  .plus {
    flex-grow: 1;
    justify-content: flex-end;

    &::before {
      transform: scale(0.5);
    }
  }
}

.closed-menu-item {
  justify-content: flex-start;

  @for $i from 1 through 30 {
    &:nth-child(3n + #{$i}) {
      transform-origin: top center;
      animation: scale-zoom 400ms ($i * 60ms) ease-in-out forwards;
    }
  }
}

.submenu {
  &::before {
    opacity: 0.2;
    transform: scale(1);
  }
}

.hide-span-item {
  animation: hide-span-item 200ms 10ms ease-in-out forwards;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--light-500-rgb), 0.1), 0 0 0 20px rgba(var(--light-500-rgb), 0.1), 0 0 0 40px rgba(var(--light-500-rgb), 0.1), 0 0 0 60px rgba(var(--light-500-rgb), 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(var(--light-500-rgb), 0.1), 0 0 0 40px rgba(var(--light-500-rgb), 0.1), 0 0 0 60px rgba(var(--light-500-rgb), 0.1), 0 0 0 80px rgba(var(--light-500-rgb), 0);
  }
}
@keyframes scale-zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  80% {
    transform: scale(1.07);
  }

  100% {
    transform: scale(1);
    opacity: 1;
    justify-content: center;
    gap: 0;
  }
}
@keyframes hide-span-item {
  0% {
    width: auto;
    opacity: 1;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes hide-menu-item {
  0% {
    opacity: 1;
    max-height: 100vh;
  }

  100% {
    opacity: 0;
    max-height: 0;
  }
}
