.top-header {
  --height: 82px;

  position: sticky;
  top: 0;
  z-index: 2;
  align-items: center;
  min-height: var(--height);
  border-bottom: 1px solid transparent;
  background-color: white;
  gap: 1rem;
  transition: all 200ms ease-in-out;

  section.navigations {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    justify-content: center;
  }

  section.actions {
    .language {
      padding: 0 12px;
      height: 2rem;
      border: none;
      border-radius: 2px;
      background-color: transparent;
      appearance: none;
      outline: none;
      cursor: pointer;
    }
  }

  .user {
    cursor: pointer;
  }
}

.scrolled {
  transition: all 400ms ease-in-out;
  border-bottom: 1px solid var(--brand-100);
  box-shadow: 0 2px 8px rgba(52, 52, 52, 4%), 0 0 24px rgba(52, 52, 52, 4%);
}
