.top-header {
  --height: 88px;

  align-items: center;
  height: var(--height);
  gap: 1rem;

  section.navigations {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    justify-content: center;
  }

  section.actions {
    .language {
      padding: 0 12px;
      height: 2rem;
      border: none;
      border-radius: 2px;
      background-color: transparent;
      appearance: none;
      outline: none;
      cursor: pointer;
    }
  }

  .user {
    cursor: pointer;
  }
}
