@use 'sass:color';
@use 'sass:list';
@use 'sass:map';

@import './theme/light';
@import 'node_modules/@srknc/icons/dist/icon-list';
/**
 * Bootstrap Configuration
 *
 * To change default SCSS configuration of the bootstrap please look the configuration variables from below link
 * @import "bootstrap/scss/variables";
 */

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/variables-dark';
@import 'node_modules/bootstrap/scss/maps';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/utilities';

// custom bootstrap configurations:

@import './theme/grid';
@import './theme/variables';
@import 'node_modules/bootstrap/scss/bootstrap'; // grid and variables must be loaded before bootstrap.scss
@import './theme/colors';
@import './theme/inputs';
@import './theme/buttons';
@import './theme/fonts';
@import './theme/icons';
@import './theme/mantine';

html, body, #root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  // height: 100vh;
  height: 100%;
  font-size: 16px;
}

html {
  body {
    position: relative;
    margin: 0;
    overflow: hidden;
    // background-image: url('https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg');
    font-family: var(--#{$prefix}font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    text-decoration: none;
  }
}

@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap';

* {
  outline: none;
  box-sizing: border-box;
}
